h3{
    padding-bottom: 10px;
    padding-top: 10px;
}

svg{
    padding-right: 10px;
}

form{
    padding-top: 20px;
}

label{
    padding-right: 10px;
}

.card{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

.no-top-margin{

    margin-top: 0px;
}

#root{
    margin-bottom: 40px;
}